body {
  /* padding: 50px; */
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#main_map {
  height: 600px;
}

.form-control {
  width: 400px !important;
}
.form-group {
  margin-left: 25px;
  width: 400px !important;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.55rem 0.55rem !important;
  font-size: 0.775rem !important;
  line-height: 0.5 !important;
  border-radius: 0.2rem !important;
}
