extends ../layout
block content

    br
    a.btn.btn-sm.btn-success.btn-xs(href='/bicicletas') Volver

    br  

    h1 Agregar Nueva Bici!

    br  

    form(action=`/bicicletas/create` method="post")
        .form-group
            label(for='id') ID: 
            input#id.form-control(type="text" name="id" placeholder="3")
        .form-group
                label(for='color') Color: 
                input#color.form-control(type="text" name="color" placeholder="Verde")
        .form-group
                label(for='modelo') Modelo: 
                input#modelo.form-control(type="text" name="modelo" placeholder="Montaña")
        .form-group
                label(for='lat') Latitud: 
                input.form-control(type="text" name="lat" placeholder="-31.636944")
        .form-group
                label(for='lng') Longitud: 
                input.form-control(type="text" name="lng" placeholder="-60.689619")
        .form-group
            button.btn.btn-xs.btn-primary(type='submit') Agregar