extends ../layout
block content
    br
    a.btn.btn-sm.btn-success.btn-xs(href='/bicicletas') Volver

    br  

    h1 Actualizando Bici!

    br  

    form(action=`/bicicletas/${bici.id}/update` method="post")
        .form-group
            label(for='id') ID: 
            input#id.form-control(type="text" name="id" value=bici.id)
        .form-group
                label(for='color') Color: 
                input#color.form-control(type="text" name="color" value=bici.color)
        .form-group
                label(for='modelo') Modelo: 
                input#modelo.form-control(type="text" name="modelo" value=bici.modelo)
        .form-group
                label(for='lat') Latitud: 
                input.form-control(type="text" name="lat" value=bici.ubicacion[0])
        .form-group
                label(for='lng') Longitud: 
                input.form-control(type="text" name="lng" value=bici.ubicacion[1])
        .form-group
            button.btn.btn-xs.btn-primary(type='submit') Guardar

